@{
    Layout = "_AdminLayout";
}
<style>
    .img{
        opacity:0.5;
    }

    .carousel-item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #carouselExample {
        margin-top: 30px; /* İhtiyacınıza göre bu değeri ayarlayabilirsiniz */
    }

    #carouselExample {
        margin-bottom: 30px;
    }

</style>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/hb-removebg-preview.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/a2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/dag-biiskleti.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
    
</div>
